* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
a {
  list-style-type: none;
  text-decoration: none;
  color: #000;
}

/************* NAV ***************/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 2px rgba(172, 168, 168, 0.5);
}

nav .logo {
  margin-left: 20px;
}

nav .logo img {
  width: 60px;
}

nav .menu ul {
  display: none;
}

nav .menu-icons ul {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 8px;
  margin-right: 20px;
}

/************** MAIN *****************/

main .main-content .path {
  margin: 50px 0 15px 10px;
}

main .main-content .path a:hover {
  text-decoration: underline;
}
.swiper {
  display: block;
  width: 80%;
}

span.swiper-pagination-bullet {
  background-color: #fff;
}

/* main .swiper-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 5px;
} */

main .swiper-wrapper img {
  width: 100%;
}

main .main-content .product-img-desktop {
  display: none;
}

main .column-details {
  width: 100%;
}

main .column-details .details {
  padding: 20px;
  margin: 30px 0;
  text-transform: uppercase;
}

main .column-details .details h2 {
  margin: 20px 0;
}

main .column-details .details span.pleasure {
  margin-right: 8px;
}

main .column-details .details a {
  text-transform: capitalize;
}

main .column-details .details a:hover {
  text-decoration: underline;
}

main .column-details .miniature-image {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 50px;
}

main .column-details .miniature-image img {
  width: 50px;
}

main .column-details .miniature-image button {
  appearance: none;
  border: none;
}

main .column-details .miniature-image button.focus {
  border: 2px solid #000;
}

main .column-details .size-guide {
  padding: 30px;
}

main .column-details .size-guide button {
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid gray;
  font-size: 25px;
  margin: 8px;
}

main .column-details .size-guide button:focus {
  border: 2px solid #000;
}

main .column-details .size-info {
  display: none;
  padding: 10px;
  text-decoration: underline;
  border: 1px solid #000;
  margin: 0 20px;
}

main .column-details .add-to-cart {
  padding: 20px;
  margin-left: 2%;
}

main .column-details .add-to-cart button {
  background-color: #000;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
}

/*********** MEDIA QUERY *************/

@media only screen and (min-width: 424px) and (max-width: 767px) {
  /* main .product-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */

  main .column-details {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 2560px) {
  nav .menu ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
  }

  nav .menu ul li:hover {
    text-decoration: underline;
  }

  main {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  main .column-details {
    margin-top: 50px;
  }

  main .swiper {
    display: none;
  }

  main .main-content .product-img-desktop {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-left: 10px;
    gap: 5px;
  }

  main .main-content .product-img-desktop img {
    width: 100%;
  }

  main .column-details .size-guide button {
    font-size: 15px;
    padding: 10px 15px;
    margin: 2px;
  }
}
